# Compilados de Java
*.class
*.bluej
*.jar
*.war
*.ear
!lib/aspectjrt-1.9.25.1.jar

# Carpetas de construcción
/build/
/nbproject/private/
/dist/

# Configuraciones de IDEs comunes
.idea/
.settings/
.project
.classpath
.nb-gradle/
